<div ng-include="'partials/navbar'"></div>

<div class="page-header">
  <h1>A MEAN Rabbit <small>technical writing from Zoe Landon</small></h1>
  <br>
  <h2>About</h2>
</div>

<div class="row">
  <p>I'm a web developer from Portland, Oregon. I stumbled into the trade a few years ago and pretty much shuffled along since, building upon enterprise-scale systems and picking up what little bits I could. But shuffling doesn't get you very far in life, so at the nudging of bandmate/mentor Robby Russell, I'm starting up this tech blog.</p>
  <p>As a structure and conceit for this blog, I'll be pursuing an array of small projects, built upon or surrounding the MEAN stack. Most will have some element of technical interest, while others may be largely design exercises. Others still will be blatant prattling about.</p>

  <p>The whole rabbit association that comes up from time to time (in the blog's title, for instance) is part Zodiac reference, part joke-carried-on-too-long, and part philosophy. Consider it an avatar, a means of distinction, as though being a six-foot girl geek isn't distinction enough.</p>

  <p>I am almost aggressively modest with my technical abilities, and I expect that to come through here. Perhaps something great will emerge, but I'm not exactly planning for that. My guiding principle is not a high aspiration to make the latest and greatest of anything, but merely to reduce the number of cases in which I have absolutely no idea what I'm doing. As such, I defer to the wisdom and disclaimer of John Reith:</p>
</div>

<blockquote><p>The programmes will neither be very interesting nor very good.</p><footer><cite><i>Lord Reith, on the first broadcast of the <b><a href="http://en.wikipedia.org/wiki/BBC_World_Service" target="_blank">BBC World Service</a></b></i></cite></footer></blockquote>
